HOST=yours-dev-xyz.ngrok.lightward.dev

GOOGLE_SIGN_IN_CLIENT_ID=
GOOGLE_SIGN_IN_CLIENT_SECRET=

STRIPE_SECRET_KEY=
STRIPE_PRICE_ID_1=
STRIPE_PRICE_ID_10=
STRIPE_PRICE_ID_100=
STRIPE_PRICE_ID_1000=

LIGHTWARD_AI_API_URL=https://lightward.com/api/stream
LIGHTWARD_AI_TOKEN_LIMIT_BYPASS_KEY=

FATHOM_SITE=

# Rollbar is disabled when ROLLBAR_ACCESS_TOKEN is unset; if you set it,
# ROLLBAR_ENV and ROLLBAR_POST_CLIENT_ITEM_ACCESS_TOKEN are required too
ROLLBAR_ACCESS_TOKEN=
ROLLBAR_ENV=
ROLLBAR_POST_CLIENT_ITEM_ACCESS_TOKEN=
