<h1>Ready for day <%= current_resonance.universe_day %></h1>

<div class="flex-col gap-md">
  <p>To continue, start a subscription from your account area.</p>
  <p>You can reach it by tapping on your (semi-redacted) email address in the upper right corner. ↗</p>
  <p>Come back here when you're done, by tapping on the day counter in the upper left. ↖</p>
</div>
